* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5B2E;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #FFFAF5;
}

/* Common */
a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Sora", sans-serif;
}

input, textarea, select, button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;

    display: inline-flex;    
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgb(0, 9, 88, 0.7);
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: .9;
    cursor: pointer;
}

.btn__icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.40); 
}

.btn--primary {
    color: #fff !important;
    background: var(--primary-color) !important;
    border: var(--primary-color) !important;
}

.section-label {
    margin-bottom: 15px;
    color: #5E6085;
    font-family: Sora, sans-serif;
    font-weight: 600;
    line-height: 1; 
}

.section-heading {
    margin-bottom: 24px;
    color: #000958;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2; 
}

.section-desc {
    color: #656689;
    line-height: 1.88; 
}
/* Header */
.header.fixed {
    background: #FFFAF5;
    position: sticky;
    top: -16px;
    z-index: 2;
    padding-bottom: 10px;
}

.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.header-action__link,
.navbar__link {
    padding: 8px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;

    min-width: 118px;
}

.header-action__link:hover {
    text-decoration: underline;
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    border-radius: 16px;
    background: #fe997b;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    background: #faa7ad;
    border: 2px solid #f7dddf;
}

.hero__list {
    position: absolute;
    left: 129px;
    /* bottom: -94px; */ /*Avoid content under img*/
    bottom: 0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
    display: flex;
    column-gap: 10px;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #FEC23F;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background: #6597C2;
}

.hero-list-item__title {
    color: #181E52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: 118px;
    /* width: var(--width, 118px); */
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-list-item__skeleton:last-child {
    width: 39px;
}

.hero-list-item__separate {
    width: 222px;
    height: 2px;
    margin: 20px 0;
    background: #F2F2F2;
    border-radius: 99px;
}

.hero__heading {
    color: #000958;
    font-family: Sora;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; 
}

.hero__desc {
    width: 391px;
    margin-top: 24px;
    color: #656689;
    font-weight: 400;
    line-height: 1.88; 
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__cta-btn {
    --height: 60px;

    font-size: 1.6rem;
    min-width: 190px;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; 
    text-decoration: underline;
}

/* About */
.about {
    margin-top: 130px;
}

.about__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
}

.about__heading,
.about__desc {
    width: 444px;    
}

.about__checklist {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    margin-top: 54px;
    gap: 35px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;

    color: #48496A;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; 
}

.about__check-item::before {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    background: #FF5D31;
    border-radius: 4px;
}

.about__check-item::after {
    position: absolute;
    top: 2px;
    left: 5px;
    content: url(../icons/check.svg);
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    padding: 32px 26px;
    width: 136px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
    text-align: center;
}

.about__card-title {
    color: #FFF;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    margin-top: 14px;
    width: 83px;
    color: #C6F4F9;
    font-size: 1.4rem;
    line-height: 1.43; 
}

.about__card-decor {
    position: absolute;
    right: -32px;
    top: -37px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    inset: auto 0 0 0;
    content: '';
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    z-index: -1;
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__wrap-decor {
    position: absolute;
    top: 157px;
    right: -51px;
    z-index: -1;
}

.about__img-wrap-bottom {
    margin-left: 0;
    width: 458px;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -40px;
}

.about__decor-img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    bottom: -40px;
    right: -24px;
}

.about__decor-img:nth-child(7) {
    bottom: -47px;
    right: -33px;
}

.about__decor-img:nth-child(8) {
    bottom: -55px;
    right: -42px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__content-more::after,
.tab__list::after,
.tab__item--active::after {
    content: '';
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.07;
    background: #FF5B2E;
    border-radius: 99px;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    white-space: nowrap;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    color: #48496A;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; 
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: inline-block;
}

.tab__content-desc {
    width: 391px;
    padding-top: 36px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71; 
}

.tab__content-more {
    position: relative;
    margin-top: 32px;
    padding-bottom: 5px;
    display: inline-block;
    color: #FF5D31;
    font-weight: 500;
    line-height: 1;
}

.tab__content-more::after {
    height: 1.5px;
    opacity: 1;
}

/* Services */
.service {
    margin-top: 190px;
    padding: 68px 0 100px;
    background: #FFF6ED;
}

.service__top {
    text-align: center;
}

.service__body {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 65px;
}

.service-item {
    width: 294px;
    padding: 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
}

.service-item + .service-item {
    margin-top: 24px;
}

.service-item__heading {
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    display: flex;
    align-items: center;
}

.service-item__heading::before {
    content: '';
    display: inline-block;
    margin-right: 12px;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);
}

.service-item__desc {
    margin-top: 18px;
    width: 244px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71; 
}

.service-item__more {
    margin-top: 24px;
    color: #34396A;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    line-height: 1; 
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.service__media {
    position: relative;
    margin-top: 17px;
}

.service__media::after {
    position: absolute;
    content: '';
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
}

.service__img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
}

.staff__btn-wrap,
.service__btn-wrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.staff__btn,
.service__btn {
    min-width: 214px;
    border-color: rgb(255, 91, 46, 0.6);
    color: #ff5b2e;
}

.staff__btn {
    min-width: 193px;
}

/* Staff */
.staff {
    padding: 130px 0;
}

.staff__top {
    text-align: center;
}

.staff__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff-item {
    text-align: center;
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff-item__img-wrap::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 94%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
}

.staff-item__img-wrap::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-01.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-02.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-03.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-04.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 19px;
}

.staff-item__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    border-radius: inherit;
}

.staff-item__title {
    margin-top: 34px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1; 
}

.stafff-item__heading {
    margin-top: 14px;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; 
}

/* Pricing */
.pricing {
    padding: 86px 0;
    background: #FFF6ED;
}

.pricing__container {
    width: 994px;
}

.pricing__top {
    text-align: center;
}

.pricing__desc {
    max-width: 709px; /*Use width auto margin left 0*/
    margin-left: auto;
    margin-right: auto;
}

.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    height: 56px;
    padding: 0 40px;
    border-radius: 99px;
    border: 1px solid rgb(255 91 46 / 60%);
    user-select: none;
    cursor: pointer;
}

.pricing__switch-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 140px;
    height: 100%;
    border-radius: inherit;
    background: #FF5B2E;
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    color: #FFF;
    font-weight: 500;
    line-height: 1; 
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    left: auto;
    right: 0;
    width: 131px;
}

.pricing__switch-input:not(:checked) + .pricing__switch-label .pricing__switch-value:last-child,
.pricing__switch-input:checked + .pricing__switch-label .pricing__switch-value:first-child {
    color: #FF5B2E;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__sale-off {
    position: absolute;
    right: -118px;
    top: -10px;
}

.pricing__list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}

.pricing-item {
    max-width: 302px;
    padding: 30px 28px 43px;
    border-radius: 20px;
    background: #FFF;
}

.pricing-item__type {
    color: #FF5B2E;
    font-size: 1.2rem;
    line-height: 1; /* 100% */
}

.pricing-item__heading {
    margin-top: 8px;
    color: #3F4065;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; 
}

.pricing-item__price {
    margin-top: 24px;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 1.03; 
}

.pricing-item__btn {
    --height: 44px;

    margin-top: 22px;
    background: transparent;
    width: 246px;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.60);
    color: #FF5B2E;
    font-weight: 500;
    line-height: 1;
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    margin-top: 18px; /*Margin collapse*/
    color: #656689;
    font-size: 14px;
    line-height: 1; 
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.pricing-item__item::before {
    content: url(../icons/pricing-check.svg);
}

.pricing-item:first-child .pricing-item__item:nth-child(5)::before ,
.pricing-item:first-child .pricing-item__item:nth-child(6)::before ,
.pricing-item:first-child .pricing-item__item:nth-child(7)::before,
.pricing-item:nth-child(2) .pricing-item__item:nth-child(5)::before ,
.pricing-item:nth-child(2) .pricing-item__item:nth-child(6)::before ,
.pricing-item:nth-child(2) .pricing-item__item:nth-child(7)::before {
    content: url(../icons/pricing-uncheck.svg);
}
